.card {
	padding: 10px;
	position: relative;
	cursor: pointer;
	box-sizing: border-box;
}

.card:hover {
	box-shadow: -1px 0px 38px -3px rgba(0, 0, 0, 0.75);
}

.card img {
	object-fit: cover;
	object-position: center;
	max-width: 200px;
	min-height: 200px;
	width: 100%;
}

.card:hover p {
	opacity: 1;
	font-weight: 500;
}

.Link {
	text-decoration: none;
	color: black;
}
